@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }
  &-jc-c {
    justify-content: center;
  }
  &-jc-l {
    justify-content: left;
  }
  &-ai-c {
    align-items: center;
  }
}

.container {
  max-width: 101rem;
  margin: auto;
  &-pall {
    padding-top: 1rem;
    padding-right: 4rem;
    padding-bottom: 1rem;
    padding-left: 4rem;
  }
  &-pl {
    padding-left: 4rem;
  }
  &-pr {
    padding-right: 4rem;
  }
}
.z-index {
  z-index: -1;
}

.App {
  // max-width: 1930px;
  zoom: 0.85;
  max-width: 1735px;
  margin: auto;
}
